:root { 
  --black: #000000;
  --glj1zc: #ff5b16;
  --lf03sp: #f6f7fb;
  --vtly4l: #17181a;
  --x1: #95969d;
  --x2: #ebecf0;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xl: 28px;
  --font-size-xxl: 32px;
 
  --font-family-nanum_gothic: "Nanum Gothic", Helvetica;
}
.nanumgothic-bold-mountain-mist-16px {
  color: var(--x1);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.nanumgothic-bold-mountain-mist-20px {
  color: var(--x1);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.nanumgothic-bold-mountain-mist-24px {
  color: var(--x1);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.nanumgothic-bold-eerie-black-28px {
  color: var(--vtly4l);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.nanumgothic-normal-mountain-mist-20px {
  color: var(--x1);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.nanumgothic-bold-white-lilac-28px {
  color: var(--lf03sp);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.nanumgothic-bold-orange-16px {
  color: var(--glj1zc);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.nanumgothic-bold-white-lilac-20px {
  color: var(--lf03sp);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
